.hero-out{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100vw;
    max-width: 100vw !important;
}
.hero-left{
    margin-right: 4vw;
    margin-left: 8vw;
}
.hero-right{
    margin-left: 4vw;
    margin-right: 8vw;
}
.hero-left,hero-right{
    margin-top: 5vh;
    width: 40vw;   
    font-family: var(--font-family);
}
.hero-left h1{
    font-size: 3rem;
    font-weight: 800;
    margin-top: 2rem;
    background:var(--gradient-text);
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    font-family:var(--font-family);  
}
.hero-left h2{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2rem;
    color: var(--color-text2);
    margin-bottom: 5vh;
}
/* .hero-leftdown input{
    padding: 0.6rem;
    width: 28vw;
    background-color: var(--color-footer);
    border-radius: 0.5rem 0 0 0.5rem;
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 500;
    color: #fff;
    border: 0;
    outline: none;
}
.hero-leftdown input::placeholder{
    font-size: 1rem;
    font-family: var(--font-family);
    
} */
/* .hero-leftdown button{
    padding: 0.7rem;
    background-color: #FF4820;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    font-size: 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 25px;
    color: #fff;
    border: 0;
    outline: none;
} */
.hero-leftmid{
    width:40vw;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap:20px;
    
}
.hero-leftmid img{
    width: 30%;
    height: 10%;
    
}
.hero-leftmid h6{
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-text2);
}
.hero-right{
    display: flex;
    justify-content: center;
}
.hero-right img{
    width: 80%;
    height: auto;
    background: radial-gradient(circle at 43% 40%, #fd955d 10%, #f3f8ff 45%);
}

@media(max-width: 768px){
    .hero-out{
        flex-direction: column;
        align-items: center;
    }
    .hero-left, .hero-right{
        width: 90vw;
        margin: 0;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .hero-right{
        display: flex;
        justify-content: center;
    }
    .hero-left h1{
        font-size: 2.5rem;
    }
    .hero-left h2{
        font-size: 1rem;
        text-align: center;
    }
    .hero-leftdown{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero-leftdown input::placeholder{
        font-size: 0.7rem;
      }    
    .hero-leftdown input{
        width: 60vw;
    }
    .hero-leftdown button{
        width: 20vw;
        padding:0.2rem;
        font-size: 1rem;
        line-height: 20px;
    }

    .hero-leftmid{
        padding-top: 5vh;
        gap:0;
        width:90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-leftmid img{
        height:38px;
        width: 181.79px;
    }
    .hero-right img{
        width: 80%;
    }
}








/* UIUNIVERSE CSS */
.searchBox {
    display: flex;
    max-width: 350px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #2f3640;
    border-radius: 50px;
    position: relative;
  }
  
  .searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--gradient-text);
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  }
  /*hover effect*/
  button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
  }
  /*button pressing effect*/
  button:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  .searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    width:300px;
    padding: 18px 26px 18px 26px;
  }
  @media (max-width: 768px) {
    .searchButton {
      width: 40px !important;
      height: 40px !important;
    }
    .searchInput::placeholder,.searchInput {
      font-size: 17px !important;
    }
    .searchInput {
      padding: 15px 60px 15px 20px !important;
    }
    .searchBox {
      max-width: 500px !important;
    }
  }

  /* END OF CODE */



  /* Loader  start */
  .pyramid-loader1 {
    position: relative;
    width: 300px;
    height: 300px;
    display: block;
    transform-style: preserve-3d;
    transform: rotateX(-20deg);
  }
  
  .wrapper1 {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: spin 4s linear infinite;
  }
  
  @keyframes spin {
    100% {
      transform: rotateY(360deg);
    }
  }
  
  .pyramid-loader1 .wrapper1 .side1 {
    width: 70px;
    height: 70px;
  /* you can choose any gradient or color you want */
    background: radial-gradient( #77E4C8 10%, orange 70%, #4535C1 120%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform-origin: center top;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  
  .pyramid-loader1 .wrapper1 .side11 {
    transform: rotateZ(-30deg) rotateY(90deg);
    background: conic-gradient( #4535C1, #36C2CE, #478CCF, #77E4C8);
  }
  
  .pyramid-loader1 .wrapper1 .side21 {
    transform: rotateZ(30deg) rotateY(90deg);
    background: conic-gradient( #77E4C8, #478CCF, #36C2CE, #4535C1);
  }
  
  .pyramid-loader1 .wrapper1 .side31 {
    transform: rotateX(30deg);
    background: conic-gradient( #77E4C8, #478CCF, #36C2CE, #4535C1);
  }
  
  .pyramid-loader1 .wrapper1 .side41 {
    transform: rotateX(-30deg);
    background: conic-gradient( #4535C1, #36C2CE, #478CCF, #77E4C8);
  }
  
  .pyramid-loader1 .wrapper1 .shadow1 {
    width: 60px;
    height: 60px;
    background: #8B5AD5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotateX(90deg) translateZ(-40px);
    filter: blur(12px);
  }